
body{
    font-family: 'Poppins', sans-serif;
}

nav{
    font-family: Copperplate, Papyrus, fantasy;
}
#mycarousel {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media screen and (max-width:775.98px) {
    iframe {
        width: 360px;
    }

    #mycarousel {
        width: 400px;
        height: 300px;
    }




}